<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>practika1</title>
</head>
<body>
<form>
    <label for="firstval">First value:</label><br>
    <input type="number" id="firstval" name="firstval"><br>


    <input type="radio" id="+" name="math_operation" value="+">
    <label for="+">+</label><br>
    <input type="radio" id="-" name="math_operation" value="-">
    <label for="-">-</label><br>
    <input type="radio" id="*" name="math_operation" value="*">
    <label for="*">*</label><br>
    <input type="radio" id="/" name="math_operation" value="/">
    <label for="/">/</label><br>


    <label for="secval">Second value:</label><br>
    <input type="number" id="secval" name="secval"><br>

    <input type="submit" id="submitGET" value="GET" formaction="/index" formmethod="get" >
    <input type="submit" id="submitPOST" value="POST" formaction="/index" formmethod="post" >
</form>
</body>
</html>